@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: #F4F5F7;
  --text-color: #A3A3A3;
  --link-active-bg: #10CC6F;
  --link-active-text: #FFFFFF;
  --link-inactive-text: #A3A3A3;
  --logo-light: url('/assets/solhive-logo-light.svg');
  --logo-dark: url('/assets/solhive-logo-dark.svg');
}


[data-theme='dark'] {
  --bg-color: #202227;
  --text-color: #DFDBDB;
  --link-active-bg: #E1FF01;
  --link-active-text: #000000;
  --link-inactive-text: #DFDBDB;
  --logo-light: url('/assets/solhive-logo-dark.svg');
  --logo-dark: url('/assets/solhive-logo-light.svg');
}


.input-custom {
  background-color: transparent !important;
}


@media (max-width: 768px) {
  .transform {
    transform: translateX(0);
  }
  
  .translate-x-full {
    transform: translateX(100%);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.md\\:flex {
  display: none;
}

@media (min-width: 768px) {
  .md\\:flex {
    display: flex;
  }
}






@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
